.blog-items {
    display: flex;
    flex-flow: row;
    
    margin-top: 1rem;
    padding: 1rem;
    
    width: 100%;
    
    .blog-info {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
    }
    
    .blog-author {
        display: flex;
        flex-flow: column;
    }

    .blog-comment {
        
    }
}